<!-- the site. things are the values set in the _config.yml file -->
<small>Most of Learnmonkey is still under construction. If something weird happens, make sure to go on the <a href="https://github.com/learnmonkey/learnmonkey.github.io">Learnmonkey GitHub repository</a> and submit an issue.</small>
<footer>
    <div id="footer-icons">
        <a href="mailto:{{site.email}}"><i class="fa fa-envelope footer-icon"></i></a>
        <a target="_blank" href="https://github.com/{{site.github_username}}"><i class="fa fa-github-square footer-icon"></i></a>
    </div>
    <div id="footer-copyright">
        <p style="text-align: center;">&copy; 2022 {{site.title}}</p>
    </div>
</footer>