<div class="topnav" id="myTopnav">
 	<a href="/" class="brand-title"><b>Learnmonkey</b></a>
 	<img src="/images/logo.png" style="height:80px;width:80px;" alt="Learnmonkey Logo">
 	<div class="dropdown">
 		<button class="dropbtn"><a href="/programming/" style="font-weight:400;">Programming&#x25BC</a>
 		</button>
 		<div class="dropdown-content">
			<a href="/programming/python/">Python</a>
			<a href="/programming/golang/">Go</a>
			<a href="/programming/html/">HTML</a>
			<a href="/programming/css/">CSS</a></li>
			<a href="/programming/javascript/">JavaScript</a>
		</div>
	</div>
	<!--<div class="dropdown">
		<button class="dropbtn"><a href="/math/" style="font-weight:400;">Math&#x25BC</a>
		</button>
		<div class="dropdown-content">
			<a href="#">Link 1</a>
			<a href="#">Link 2</a>
			<a href="#">Link 3</a>
		</div>
	</div>-->
	<div class="dropdown">
		<button class="dropbtn"><a href="/tutorial-index/" style="font-weight:400;">More&#x25BC</a>
		</button>
		<div class="dropdown-content">
			<a href="/tutorial-index/">Tutorial Index</a>
			<a href="/settings/">Settings</a>
		</div>
	</div>
	<!-- <a href="/tutorial-index/" style="font-size: 1.5em;">Tutorials</a> -->
	<a class="small-nav-open icon" onclick="openSmallNav()">&#9776;</a>
</div>
