* {
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: #5b241c;
  display: flex;
  float: center;
  /*width: 100%;
  position: absolute;
  top: 0px;*/
  /*justify-content: space-between;*/
}

.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /*font-size: 1.5em;*/
}

.topnav a:hover {
  text-decoration: none;
}

.topnav .icon {
  display: none;
}

.icon {
  position: absolute;
  top: 0rem;
  right: 0.3rem;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1em;
  font-weight: bold;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown .dropbtn:hover {
  cursor: pointer;
  text-decoration: none;
}

.dropdown:hover {
  text-decoration: none;
}

.dropdown-content {
  font-size: 1.1em;
  display: none;
  /*opacity: 0;*/
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  /*transition: 0.3s;*/
  /*pointer-events: none;*/
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  text-decoration: none;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  color: orange;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown .dropbtn a {
  font-size: 1.5em;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.topnav a.brand-title {
  font-size: 2em;
}

.small-nav-open {
  font-size: 30px;
}

.small-nav-open:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .topnav {
    flex-direction: column;
    /*justify-content: space-between;*/
  }
}
#menu-wrapper {
    height: 10vh;
}
/*
img {
    height: 200px;
}*/

main {
    margin: 1.5%;
}

footer {
    /*text-align: center;
    padding: 3px;
    margin-top: 800px;
    background-color: rgb(90, 63, 4);
    color: #f0e9e9;
    opacity: 75%;
    margin-top: auto;
    display: block;
    width: 100% !important;
    position: relative !important;*/
    bottom: 0px !important;
    background-color: rgb(90, 63, 4);
    color: #f0e9e9;
    opacity: 75%;
    width: 100% !important;
    text-align: center !important;
}

/*
a.footer-link {
    text-decoration: none;
    color: lightgray;
}

a.footer-link:hover {
    text-decoration: underline;
    color: lightgray;
}
*/

i.footer-icon {
    margin-left: 5px;
    margin-right: 5px;
    color: white !important;
    font-size: xx-large !important;
}

#footer-icons {
    width: 100%;
}


#footer-copyright {
    width: 100%;
}

/*ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5b241c;
*  position: -webkit-sticky;  Safari 
  position: sticky;*
  top: 0;
}

li.navitem {
  float: left;
}

li.navitem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.navitem a:hover {
  color: orange;
}*/

ul#tutorials-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 50px;
}
  
ul#tutorials-list a li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
}
  
ul#tutorials-list a li:hover {
    background-color: #eee;
    cursor: pointer;
}

ul#tutorials-list a {
    text-decoration: none !important;
}

ul#tutorials-list a:hover {
    text-decoration: none !important;
}

code {
    background-color: #eee;
    font-size: 1em;
    color: #3d3d3d;
    font: #3d3d3d;
}

body {
    scroll-behavior: smooth;
    transition: 0.5s;
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
}

samp {
    background-color: #eee;
    font-size: 1em;
}

footer a.footer-link {
    text-decoration: none;
    color: white;
}

footer a.footer-link:hover {
    color: #eee;
}

#toggledarklight {
  color: black;
  text-decoration: none;
}

#toggledarklight:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*li.dropdown {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown a {
  color: white;
  text-decoration: none;
}

li.dropdown a:hover {
  color: orange;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  top: 40px;
  left: 200px;
  border: 2px solid black;
}

.dropdown:hover .dropdown-content {
  display: block;
}*/

/*.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5b241c;
  color: white;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
  font-weight: bold;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li a:hover {
  color: orange;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button:hover {
  cursor: pointer;
  /* animation: toggle-button-spin 2s; 
} */

/* @keyframes toggle-button-spin {
  100% {rotate(360deg);}
} 

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 550px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
*/
a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: darkblue;
  text-decoration: underline;
}
/*
a:visited {
  text-decoration: none;
  color: blue;
}*/

img {
  height: 200px;
}
/*
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown:hover .dropbtn {
  color: orange;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
/*   background-color: #f9f9f9; 
  background-color: #eee;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}*/

#tutorial-index-main li{
  text-decoration: none;
  color: blue;
}

#tutorial-index-main li:hover {
  text-decoration: underline;
  color: darkblue;
}

#tutorial-index-main li li{
  text-decoration: none;
  color: blue;
}

#tutorial-index-main li li:hover {
  text-decoration: underline;
  color: darkblue;
}