body {
  transition: 0.5s;
}

#menu-wrapper {
    height: 10vh;
}
/*
img {
    height: 200px;
}*/

main {
    margin: 1.5%;
}

footer {
    /*text-align: center;
    padding: 3px;
    margin-top: 800px;
    background-color: rgb(90, 63, 4);
    color: #f0e9e9;
    opacity: 75%;
    margin-top: auto;
    display: block;
    width: 100% !important;
    position: relative !important;*/
    bottom: 0px !important;
    background-color: rgb(90, 63, 4);
    color: #f0e9e9;
    opacity: 75%;
    width: 100% !important;
    text-align: center !important;
}

/*
a.footer-link {
    text-decoration: none;
    color: lightgray;
}

a.footer-link:hover {
    text-decoration: underline;
    color: lightgray;
}
*/

i.footer-icon {
    margin-left: 5px;
    margin-right: 5px;
    color: white !important;
    font-size: xx-large !important;
}

#footer-icons {
    width: 100%;
}


#footer-copyright {
    width: 100%;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5b241c;
/*  position: -webkit-sticky;  Safari 
  position: sticky;*/
  top: 0;
}

li.navitem {
  float: left;
}

li.navitem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.navitem a:hover {
  color: orange;
}

ul#tutorials-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 50px;
}
  
ul#tutorials-list a li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
}
  
ul#tutorials-list a li:hover {
    background-color: #eee;
    cursor: pointer;
}

ul#tutorials-list a {
    text-decoration: none !important;
}

ul#tutorials-list a:hover {
    text-decoration: none !important;
}

code {
    background-color: #eee;
    font-size: 1em;
}

body {
    scroll-behavior: smooth;
}

samp {
    background-color: #eee;
    font-size: 1em;
}

footer a.footer-link {
    text-decoration: none;
    color: white;
}

footer a.footer-link:hover {
    color: #eee;
}

#toggledarklight {
  color: white;
  text-decoration: none;
}

#toggledarklight:hover {
    cursor: pointer;
    text-decoration: underline;
}

li .dropdown {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  border: 2px solid black;
}

.dropdown:hover .dropdown-content {
  display: block;
}