<!doctype html>
<html lang="en">
    {%- include head.html -%}
    <body>
        {%- include nav.html -%}
        <main>{{content}}</main>
        <ul id="tutorials-list">
            <a href="/astronomy/"><li>Introduction to Astronomy</li></a>
            <a href="/astronomy/stars/"><li>Stars</li></a>
            <a href="/astronomy/constellations/"><li>Constellations</li></a>
            <a href="/astronomy/planets/"><li>Planets</li></a>
            <a href="/astronomy/moons/"><li>Moons</li></a>
        </ul>
        {%- include footer.html -%}
    </body>
</html>

