<!doctype html>
<html lang="en">
    {%- include head.html -%}
    <body>
        {%- include nav.html -%}
        <main>{{content}}</main>
        <ul id="tutorials-list">
            <a href="/physics/astronomy/"><li>Introduction to Astronomy</li></a>
            <a href="/physics/astronomy/stars/"><li>Stars</li></a>
            <a href="/physics/astronomy/constellations/"><li>Constellations</li></a>
            <a href="/physics/astronomy/solar-system/"><li>Solar System</li></a>
        </ul>
        {%- include footer.html -%}
    </body>
</html>

