<!doctype html>
<html lang="en">
    {%- include head.html -%}
    <body>
        {%- include nav.html -%}
        {%- include wip-alert.html -%}
        <main>{{content}}</main>
        <ul id="tutorials-list">
            <a href="/programming/python/bottle/"><li>Introduction to Bottle</li></a>
            <a href="/programming/python/bottle/setup/"><li>Setup</li></a>
            <a href="/programming/python/bottle/your-first-bottle-program/"><li>Your First Bottle Program</li></a>
        </ul>
        {%- include footer.html -%}
    </body>
</html>