<!doctype html>
<html lang="en">
    {%- include head.html -%}
    <body>
        {%- include nav.html -%}
        {%- include wip-alert.html -%}
        <main>{{content}}</main>
        <ul id="tutorials-list">
            <a href="/programming/cpp/"><li>Introduction to C++</li></a>
            <a href="/programming/cpp/setup/"><li>Setup</li></a>
            <a href="/programming/cpp/first-program/"><li>Your First C++ Program</li></a>
        </ul>
        {%- include footer.html -%}
    </body>
</html>
