<!doctype html>
<html lang="en">
    {%- include head.html -%}
    <body>
        {%- include nav.html -%}
        <main>{{content}}</main>
        <aside class="bg-light" id="menu-wrapper">
            <div class="list-group list-group-flush overflow-auto vh-100">
                <a href="/programming/css/" class="list-group-item list-group-item-action bg-light">Introduction to CSS</a>
                <a href="/programming/css/setup-css/" class="list-group-item list-group-item-action bg-light">Setting Up CSS</a>
            </div>
        </aside>
        {%- include footer.html -%}
    </body>
</html>