<!doctype html>
<html lang="en">
    {%- include head.html -%}
    <body>
        {%- include nav.html -%}
        {%- include wip-alert.html -%}
        <main>{{content}}</main>
        <ul id="tutorials-list">
            <a href="/programming/css/"><li>Introduction to CSS</li></a>
            <a href="/programming/css/setup-css/"><li>Setting Up CSS</li></a>
            <a href="/programming/css/how-css-works/"><li>How CSS Works</li></a>
        </ul>
        {%- include footer.html -%}
    </body>
</html>