<!doctype html>
<html lang="en">
    {%- include head.html -%}
    <body>
        {%- include nav.html -%}
        {%- include wip-alert.html -%}
        <main>{{content}}</main>
        <ul id="tutorials-list">
            <a href="/programming/python/discord-py/"><li>Introduction to Discord.py</li></a>
            <a href="/programming/python/discord-py/setup/"><li>Setup</li></a>
            <a href="/programming/python/discord-py/sending-and-receiving-messages/"><li>Sending and Receiving Messages</li></a>
            <a href="/programming/python/discord-py/bot-object/"><li>The Bot Object</li></a>
        </ul>
        {%- include footer.html -%}
    </body>
</html>