<!doctype html>
<html lang="en">
    {%- include head.html -%}
    <body>
        {%- include nav.html -%}
        <!-- {%- include wip-alert.html -%} -->
        <!-- <main>{{content}}</main> -->
        <main>
            <h1>Content Removed</h1>
            <p>The content you are looking for has been removed.</p>
        </main>
        <!-- <ul id="tutorials-list">
            <a href="/physics/electrical-engineering/"><li>Introduction to Electrical Engineering</li></a>
            <a href="/physics/electrical-engineering/electricity/"><li>Electricity</li></a>
            <a href="/physics/electrical-engineering/conductors-insulators/"><li>Conductors and Insulators</li></a>
            <a href="/physics/electrical-engineering/semiconductors/"><li>Semiconductors</li></a>
            <a href="/physics/electrical-engineering/circuits/"><li>Circuits</li></a>
            <a href="/physics/electrical-engineering/current/"><li>Current</li></a>
            <a href="/physics/electrical-engineering/voltage/"><li>Voltage</li></a>
            <a href="/physics/electrical-engineering/resistance/"><li>Resistance</li></a>
            <a href="/physics/electrical-engineering/circuit-diagrams/"><li>Circuit Diagrams</li></a>
            <a href="/physics/electrical-engineering/ohms-law/"><li>Ohm's Law</li></a>
            <a href="/physics/electrical-engineering/power/"><li>Electrical Power</li></a>
            <a href="/physics/electrical-engineering/capacitors/"><li>Capacitors</li></a>
            <a href="/physics/electrical-engineering/inductors/"><li>Inductors</li></a>
            <a href="/physics/electrical-engineering/diodes/"><li>Diodes</li></a>
            <a href="/physics/electrical-engineering/transistors/"><li>Transistors</li></a>
        </ul> -->
        {%- include footer.html -%}
    </body>
</html>