<!doctype html>
<html lang="en">
    {%- include head.html -%}
    <body>
        {%- include nav.html -%}
        {%- include wip-alert.html -%}
        <main>{{content}}</main>
        <ul id="tutorials-list">
            <a href="/physics/electrical-engineering/"><li>Introduction to Electrical Engineering</li></a>
            <a href="/physics/electrical-engineering/electricity/"><li>Electricity</li></a>
            <a href="/physics/electrical-engineering/conductors-insulators/"><li>Conductors and Insulators</li></a>
            <a href="/physics/electrical-engineering/circuits/"><li>Circuits</li></a>
            <a href="/physics/electrical-engineering/current/"><li>Current</li></a>
            <a href="/physics/electrical-engineering/voltage/"><li>Voltage</li></a>
            <a href="/physics/electrical-engineering/resistance/"><li>Resistance</li></a>
            <a href="/physics/electrical-engineering/circuit-diagrams/"><li>Circuit Diagrams</li></a>
            <a href="/physics/electrical-engineering/ohms-law/"><li>Ohm's Law</li></a>
            <a href="/physics/electrical-engineering/capacitors/"><li>Capacitors</li></a>
            <a href="/physics/electrical-engineering/transistors/"><li>Transistors</li></a>
        </ul>
        {%- include footer.html -%}
    </body>
</html>