<!doctype html>
<html lang="en">
    {%- include head.html -%}
    <body>
        {%- include nav.html -%}
        {%- include wip-alert.html -%}
        <main>{{content}}</main>
        <ul id="tutorials-list">
            <a href="/programming/python/fastapi/"><li>Introduction to FastAPI</li></a>
            <a href="/programming/python/fastapi/setup/"><li>Setup</li></a>
            <a href="/programming/python/fastapi/first-api/"><li>Your First FastAPI API</li></a>
        </ul>
        {%- include footer.html -%}
    </body>
</html>