<!doctype html>
<html lang="en">
    {%- include head.html -%}
    <body>
        {%- include nav.html -%}
        {%- include wip-alert.html -%}
        <main>{{content}}</main>
        <ul id="tutorials-list">
              <a href="/programming/python/flask/"><li>Introduction to Flask</li></a>
              <a href="/programming/python/flask/setup/"><li>Setup</li></a>
              <a href="/programming/python/flask/your-first-flask-website/"><li>Your First Flask Website</li></a>
              <a href="/programming/python/flask/routing/"><li>Routing</li></a>
              <a href="/programming/python/flask/templating/"><li>Templating</li></a>
              <a href="/programming/python/flask/extending-templates/"><li>Extending Templates</li></a>
        </ul>
        {%- include footer.html -%}
    </body>
</html>

