<!doctype html>
<html lang="en">
    {%- include head.html -%}
    <body>
        {%- include nav.html -%}
        <main>{{content}}</main>
        <ul id="tutorials-list">
              <a href="/programming/golang/"><li>Introduction to Go</li></a>
              <a href="/programming/golang/environment-setup/"><li>Environment Setup</li></a>
              <a href="/programming/golang/your-first-go-program/"><li>Your First Go Program</li></a>
              <a href="/programming/golang/variables/"><li>Variables</li></a>
              <a href="/programming/golang/data-types/"><li>Data Types</li></a>
              <a href="/programming/golang/constants/"><li>Constants</li></a>
              <a href="/programming/golang/operators/"><li>Operators</li></a>
              <a href="/programming/golang/comments/"><li>Comments</li></a>
              <a href="/programming/golang/more-on-printing/"><li>More on Printing</li></a>
              <a href="/programming/golang/functions/"><li>Functions</li></a>
              <a href="/programming/golang/if-else/"><li>If/Else</li></a>
              <a href="/programming/golang/switch/"><li>Switch</li></a>
              <a href="/programming/golang/arrays/"><li>Arrays</li></a>
              <a href="/programming/golang/slices/"><li>Slices</li></a>
              <a href="/programming/golang/structs/"><li>Structs</li></a>
        </ul>
        {%- include footer.html -%}
    </body>
</html>

