<!doctype html>
<html lang="en">
<link rel="stylesheet" href="/path/to/styles/default.min.css">
<script src="/path/to/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
    {%- include head.html -%}
    <body>
        {%- include nav.html -%}
        <main>{{content}}</main>
        <ul id="tutorials-list">
              <a href="/programming/golang/"><li>Introduction to Go</li></a>
              <a href="/programming/golang/environment-setup/"><li>Environment Setup</li></a>
              <a href="/programming/golang/your-first-go-program/"><li>Your First Go Program</li></a>
              <a href="/programming/golang/variables/"><li>Variables</li></a>
        </ul>
        {%- include footer.html -%}
    </body>
</html>

