<!doctype html>
<html lang="en">
    {%- include head.html -%}
    <body>
        {%- include nav.html -%}
        {%- include wip-alert.html -%}
        <main>{{content}}</main>
        <ul id="tutorials-list">
              <a href="/programming/html/"><li>Introduction to HTML</li></a>
              <a href="/programming/html/syntax/"><li>HTML Syntax</li></a>
              <a href="/programming/html/your-first-html-website/"><li>Your First HTML Website</li></a>
              <a href="/programming/html/headers/"><li>HTML Headers</li></a>
        </ul>
        {%- include footer.html -%}
    </body>
</html>

