<!doctype html>
<html>
    {%- include head.html -%}
    <body>
        {%- include nav.html -%}
        <main>{{content}}</main>
        <aside class="bg-light" id="menu-wrapper">
            <div class="list-group list-group-flush overflow-auto vh-100">
                <a href="/programming/java/" class="list-group-item list-group-item-action bg-light">Introduction to Java</a>
                <a href="/programming/java/environment-setup/" class="list-group-item list-group-item-action bg-light">Environment Setup</a>
            </div>
        </div>
        {%- include footer.html -%}
    </body>