<!doctype html>
<html lang="en">
    {%- include head.html -%}
    <body>
        {%- include nav.html -%}
        {%- include wip-alert.html -%}
        <main>{{content}}</main>
        <ul id="tutorials-list">
            <a href="/programming/javascript/"><li>Introduction to JavaScript</li></a>
            <a href="/programming/javascript/setup-javascript/"><li>Setup JavaScript</li></a>
            <a href="/programming/javascript/console/"><li>JavaScript Console</li></a>
      </ul>
        {%- include footer.html -%}
    </body>
</html>