<!doctype html>
<html lang="en">
    {%- include head.html -%}
    <body>
        {%- include nav.html -%}
        {%- include wip-alert.html -%}
        <main>{{content}}</main>
        <ul id="tutorials-list">
              <a href="/programming/python/pygame/"><li>Introduction to Pygame</li></a>
              <a href="/programming/python/pygame/setup/"><li>Setup Pygame</li></a>
              <a href="/programming/python/pygame/your-first-pygame-game/"><li>Your First Pygame Game</li></a>
              <a href="/programming/python/pygame/drawing-to-the-window/"><li>Drawing To The Window</li></a>
        </ul>
        {%- include footer.html -%}
    </body>
</html>

