<!doctype html>
<html lang="en">
    {%- include head.html -%}
    <body>
        {%- include nav.html -%}
        {%- include wip-alert.html -%}
        <main>{{content}}</main>
        <ul id="tutorials-list">
              <a href="/programming/python/"><li>Introduction to Python</li></a>
              <a href="/programming/python/environment-setup/"><li>Environment Setup</li></a>
              <a href="/programming/python/your-first-python-program/"><li>Your First Python Program</li></a>
              <a href="/programming/python/more-on-printing/"><li>More on Printing</li></a>
              <a href="/programming/python/variables/"><li>Variables</li></a>
              <a href="/programming/python/data-types/"><li>Data Types</li></a>
              <a href="/programming/python/comments/"><li>Comments</li></a>
              <a href="/programming/python/arithmetic/"><li>Arithmetic</li></a>
              <a href="/programming/python/functions/"><li>Functions</li></a>
              <a href="/programming/python/lists/"><li>Lists</li></a>
              <a href="/programming/python/tuples/"><li>Tuples</li></a>
              <a href="/programming/python/sets/"><li>Sets</li></a>
              <a href="/programming/python/if-else/"><li>If/Else</li></a>
              <a href="/programming/python/for-loops/"><li>For Loops</li></a>
              <a href="/programming/python/while-loops/"><li>While Loops</li></a>
              <a href="/programming/python/requests/"><li>Requests</li></a>
              <a href="/programming/python/f-strings/"><li>F-Strings</li></a>
        </ul>
        {%- include footer.html -%}
    </body>
</html>

