<!doctype html>
<html lang="en">
    {%- include head.html -%}
    <link rel="stylesheet" href="/programming/python/data-structures-and-algorithms/queues.css">
    <body>
        {%- include nav.html -%}
        <main>{{content}}</main>
        <ul id="tutorials-list">
              <a href="/programming/python/data-structures-and-algorithms/"><li>Introduction to Data Structures And Algorithms In Python</li></a>
              <a href="/programming/python/data-structures-and-algorithms/algorithms/"><li>Algorithms</li></a>
              <a href="/programming/python/data-structures-and-algorithms/searching/"><li>Searching</li></a>
              <a href="/programming/python/data-structures-and-algorithms/linear-search/"><li>Linear Search</li></a>
              <a href="/programming/python/data-structures-and-algorithms/binary-search/"><li>Binary Search</li></a>
              <a href="/programming/python/data-structures-and-algorithms/jump-search/"><li>Jump Search</li></a>
              <a href="/programming/python/data-structures-and-algorithms/breadth-first-search/"><li>Breadth First Search</li></a>
              <a href="/programming/python/data-structures-and-algorithms/depth-first-search/"><li>Depth First Search</li></a>
              <a href="/programming/python/data-structures-and-algorithms/sorting/"><li>Sorting</li></a>
              <a href="/programming/python/data-structures-and-algorithms/bubble-sort/"><li>Bubble Sort</li></a>
              <a href="/programming/python/data-structures-and-algorithms/data-structures/"><li>Data Structures</li></a>
              <a href="/programming/python/data-structures-and-algorithms/stacks/"><li>Stacks</li></a>
              <a href="/programming/python/data-structures-and-algorithms/queues/"><li>Queues</li></a>
              <a href="/programming/python/data-structures-and-algorithms/deques/"><li>Deques</li></a>
              <a href="/programming/python/data-structures-and-algorithms/big-o-notation/"><li>Big O Notation</li></a>
              <a href="/programming/python/data-structures-and-algorithms/dynamic-programming/"><li>Dynamic Programming</li></a>
              <a href="/programming/python/data-structures-and-algorithms/recursion/"><li>Recursion</li></a>
              <a href="/programming/python/data-structures-and-algorithms/caching/"><li>Caching</li></a>
              <a href="/programming/python/data-structures-and-algorithms/memoization/"><li>Memoization</li></a>
        </ul>
        {%- include footer.html -%}
    </body>
</html>

