<!doctype html>
<html lang="en">
    {%- include head.html -%}
    <body>
        {%- include nav.html -%}
        <main>{{content}}</main>
        <ul id="tutorials-list">
              <a href="/programming/python/cool-projects/"><li>Cool Python Projects</li></a>
              <a href="/programming/python/cool-projects/1-number-guessing/"><li>#1 Number Guessing Game</li></a>
              <a href="/programming/python/cool-projects/2-counter-app/"><li>#2 Counter App</li></a>
              <a href="/programming/python/cool-projects/3-simple-autoclicker/"><li>#3 Simple Autoclicker</li></a>
        </ul>
        {%- include footer.html -%}
    </body>
</html>

