<!doctype html>
<html lang="en">
    {%- include head.html -%}
    <body>
        {%- include nav.html -%}
        <main>{{content}}</main>
        <ul id="tutorials-list">
              <a href="/programming/python/cool-projects/"><li>Cool Python Projects</li></a>
              <a href="/programming/python/cool-projects/number-guessing/"><li>Number Guessing Game</li></a>
              <a href="/programming/python/cool-projects/counter-app/"><li>Counter App</li></a>
              <a href="/programming/python/cool-projects/simple-autoclicker/"><li>Simple Autoclicker</li></a>
              <a href="/programming/python/cool-projects/trivia-game/"><li>Trivia Game</li></a>
              <a href="/programming/python/cool-projects/password-generator/"><li>Password Generator</li></a>
        </ul>
        {%- include footer.html -%}
    </body>
</html>

