<!doctype html>
<html>
    {%- include head.html -%}
    <body>
        {%- include nav.html -%}
        <main>{{content}}</main>
        <aside class="bg-light" id="menu-wrapper">
            <div class="list-group list-group-flush overflow-auto vh-100">
                <a href="/programming/python/" class="list-group-item list-group-item-action bg-light">Introduction to Python</a>
                <a href="/programming/python/environment-setup/" class="list-group-item list-group-item-action bg-light">Environment Setup</a>
                <a href="/programming/python/your-first-python-program/" class="list-group-item list-group-item-action bg-light">Your First Python Program</a>
                <a href="/programming/python/variables/" class="list-group-item list-group-item-action bg-light">Variables</a>
            </div>
        </div>
        {%- include footer.html -%}
    </body>
