<!doctype html>
<html lang="en">
    {%- include head.html -%}
    <link rel="stylesheet" href="/math/shape-space/triangles.css">
    <body>
        {%- include nav.html -%}
        <main>{{content}}</main>
        <ul id="tutorials-list">
              <a href="/math/shape-space/"><li>Introduction to Shape and Space</li></a>
              <a href="/math/shape-space/transformations/"><li>Transformations</li></a>
              <a href="/math/shape-space/translations/"><li>Translations</li></a>
              <a href="/math/shape-space/reflections/"><li>Reflections</li></a>
              <a href="/math/shape-space/rotations/"><li>Rotations</li></a>
              <a href="/math/shape-space/angles/"><li>Angles</li></a>
              <a href="/math/shape-space/protractors/"><li>Protractors</li></a>
              <a href="/math/shape-space/interior-angles/"><li>Interior Angles</li></a>
        </ul>
              {%- include footer.html -%}
    </body>
</html>

