<!doctype html>
<html lang="en">
    {%- include head.html -%}
    <body>
        {%- include nav.html -%}
        {%- include wip-alert.html -%}
        <main>{{content}}</main>
        <ul id="tutorials-list">
              <a href="/programming/python/tkinter/"><li>Introduction to Tkinter</li></a>
              <a href="/programming/python/tkinter/your-first-tkinter-program"><li>Your First Tkinter Program</li></a>
        </ul>
        {%- include footer.html -%}
    </body>
</html>

