.Row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.Column {
    display: table-cell;
    height: calc(100vh / 5)
    width: 75px;
    border-radius: 50%;
    border: 2px solid black;
    text-align: center;
    margin-bottom: 10px;

}